.chatboxSuper {
  width: 500px;
  height: 300px;
  background-color: var(--pBlue_L3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.chatOutputContainer {
  width: 100%;
  border-radius: 0px;
  box-shadow: none;
  margin: 0px;
  padding: 0px;
  border-top: var(--pBlue_L2) solid 2px;
  border-bottom: var(--pBlue_L2) solid 2px;
}

.chatItem {
  padding: 5px 5px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
}

.chatItem:nth-child(odd) {
  background-color: var(--pBlue_L2a);
}

.chatAnnouncement {
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}
.chatName {
  padding: 0px;
  margin: 0px;
  margin-right: 5px;
  width: 140px;
}
.chatDialogue {
  padding: 0px;
  margin: 0px;
}

.chatInputContainer {
  background-color: greenyellow;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatboxInput {
  width: 80%;
  height: 100%;
  background-color: var(--pBlue_L3);
}

.chatboxInput:hover {
  background-color: var(--pYellow_L3);
}

.sendButton {
  width: 20%;
  height: 100%;
  background-color: var(--pPink_L3);
  border: none;
}

.sendButton:hover {
  background-color: var(--pYellow_L3);
}
