.genericBox1 {
  border: var(--pPink_D3) solid 2px;
  background-color: whitesmoke;
  margin: 10px;
}

.box1 {
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 5px 5px 5px black;
  border: var(--pPink_D3) solid 3px; */
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.button1 {
  background-color: var(--pYellow_L3);
  border-radius: 5px;
  border: none;
}
