.panelSize1 {
  height: 400px;
  width: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.panelColorY1 {
  background-color: var(--pYellow);
  box-shadow: 5px 5px 5px var(--pYellow_D2);
  border: var(--pYellow_D2) solid 2px;
  color: var(--pPink_D2);
}

.panelColorP1 {
  background-color: var(--pPink_L2);
  box-shadow: 5px 5px 5px var(--pPink);
  border: var(--pPink) solid 2px;
  color: var(--pPink_D2);
}

.panelColorB1 {
  background-color: var(--pBlue_L2);
  box-shadow: 5px 5px 5px var(--pPink);
  border: var(--pPink) solid 2px;
  color: var(--pPink_D2);
}

.innerBox {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textarea1 {
  width: 75%;
  font-size: 18px;
  height: 24px;
  text-align: center;
  overflow: hidden;
}

.button1 {
  width: 100px;
  height: 50px;
  border: var(--pPink_D2) solid 2px;
}

.textarea1:hover,
.button1:hover {
  background-color: var(--pBlue_L3);
}
