.panelSize1 {
  height: 400px;
  width: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.panelSize2 {
  height: 250px;
  width: 300px;
  margin-top: 50px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.panelSize2a {
  position: absolute;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  height: 250px;
  margin-top: 50px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.panelSize3 {
  height: 150px;
  width: 220px;
  padding: 25px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.panelColorY1 {
  background-color: var(--pYellow);
  box-shadow: 5px 5px 5px var(--pYellow_D2);
  border: var(--pYellow_D2) solid 2px;
  color: var(--pPink_D2);
}

.panelColorP1 {
  background-color: var(--pPink_L2);
  box-shadow: 5px 5px 5px var(--pPink);
  border: var(--pPink) solid 2px;
  color: var(--pPink_D2);
}

.panelColorP2 {
  background-color: var(--pPink_L2);
  /* box-shadow: 5px 5px 5px var(--pPink); */
  border: var(--pPink) solid 2px;
  color: var(--pPink_D3);
}

.panelColorB1 {
  background-color: var(--pBlue_L2);
  box-shadow: 5px 5px 5px var(--pBlue);
  border: var(--pBlue) solid 2px;
  color: var(--pBlue_D3);
}

.panelColorB1a {
  background-color: var(--pBlue_L2);
  /* box-shadow: 5px 5px 5px var(--pBlue); */
  border: var(--pBlue) solid 2px;
  color: var(--pBlue_D3);
}

.innerBox1 {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerBox2 {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.textarea1 {
  width: 75%;
  font-size: 18px;
  height: 28px;
  text-align: center;
  overflow: hidden;
}

.button1 {
  width: 100px;
  height: 50px;
  border: var(--pPink_D2) solid 2px;
}

.textarea1:hover,
.button1:hover {
  background-color: var(--pBlue_L3);
}

.exitButton {
  outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  font-size: 20px;
  position: absolute;
  width: 35px;
  height: 35px;
  top: -0.5px;
  right: -0.5px;
}

.exitButtonBlue {
  background: none;
  border: none;
  border-top-right-radius: inherit;
  border-top: none;
  border-right: none;
  color: var(--pPink);
}

.exitButtonBlue:hover {
  background-color: var(--pBlue_L3);
  border: var(--pBlue_L1) solid 2px;
}

.exitButtonPink {
  background: none;
  border: none;
  border-top-right-radius: inherit;
  border-top: none;
  border-right: none;
  color: var(--pPink_D1);
}

.exitButtonPink:hover {
  background-color: var(--pPink_L3);
  border: var(--pPink_L1) solid 2px;
}

.littleButtonRight {
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 35px;
  height: 30px;
  background: none;
  border: none;
  color: var(--pPink);
  border: var(--pBlue_L1) solid 2px;
  padding-bottom: 5px;
}

.littleButtonLeft {
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 35px;
  height: 30px;
  background: none;
  border: none;
  color: var(--pPink);
  border: var(--pBlue_L1) solid 2px;
  padding-bottom: 5px;
}

.copyButton:hover {
  background-color: var(--pBlue_L3);
  color: var(--pPink_D3);
  border: var(--pBlue_D1) solid 2px;
}
