.nameItem {
  width: 100%;
  background-color: var(--pPink_L3);
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.awards {
  /* flex: 1; */
  flex-basis: 25%;
  text-align: left;
}
.name {
  /* flex: 5; */
  flex-basis: 50%;
}
.stars {
  /* flex: 1; */
  flex-basis: 25%;
  color: var(--pBlue);
  text-align: right;
}

.nameItem:nth-child(even) {
  background-color: var(--pYellow_L3);
}

.innerBox {
  height: 72.5%;
}

.innerBox2 {
  height: 72.5%;
  border-top: var(--pBlue_L2) solid 2px;
}
