.nameItem {
  width: 100%;
  background-color: var(--pPink_L3);
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.awards {
  /* flex: 1; */
  flex-basis: 20%;
  text-align: left;
}
.name {
  /* flex: 5; */
  flex-basis: 60%;
  /* border: blue solid 1px; */
}

.stars {
  /* flex: 1; */
  flex-basis: 20%;
  color: var(--pBlue);
  text-align: right;
  font-size: 16px;
}

.smallEmoji1 {
  font-size: 14px;
}

.smallEmoji2 {
  font-size: 12px;
  position: relative;
  bottom: 2px;
}

.nameItem:nth-child(even) {
  background-color: var(--pYellow_L3);
}

.innerBox {
  height: 72.5%;
}

.innerBox2 {
  height: 72.5%;
  border-top: var(--pBlue_L2) solid 2px;
}

.bootTab {
  border: none;
  background-color: none;
  height: 25px;
  box-shadow: 1px 1px 1px var(--pPink_D2);
  position: absolute;
  margin-left: -10px;
  margin-top: -4px;
  background-color: var(--pPink_L2);
  border-radius: 5px;
}

.bootTab:hover {
  background-color: var(--pPink);
}

.marginAdjust {
  margin-left: 6px;
}
