.Room {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.superContainer {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
