.overflowScroll {
  overflow: auto;
  overflow-x: hidden;
}

.overflowHidden {
  overflow: hidden;
}

.overflowSplit {
  overflow-x: hidden;
  word-wrap: break-word;
  hyphens: auto;
}

.invisible {
  opacity: 0;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.noOutline {
  outline: none;
}

.noMargin {
  margin: 0px;
}

.noPadding {
  padding: 0px;
}

.borderR {
  border: red solid 2px !important;
}

.borderB {
  border: blue solid 2px !important;
}

.borderG {
  border: greenyellow solid 2px !important;
}

.borderY {
  border: yellow solid 2px !important;
}

.borderK {
  border: black solid 2px !important;
}

.borderR:focus {
  border: red dotted 4px !important;
}

.borderB:focus {
  border: blue dotted 4px !important;
}

.borderG:focus {
  border: greenyellow dotted 4px !important;
}

.borderY:focus {
  border: yellow dotted 4px !important;
}

.borderK:focus {
  border: black dotted 4px !important;
}

.posRel {
  position: relative;
}

.fadeIn {
  -webkit-animation: fadeIn 0.2s linear forwards;
  animation: fadeIn 0.2s linear forwards;
  opacity: 0;
  visibility: hidden;
}

.fadeInFast {
  -webkit-animation: fadeIn 0.1s linear forwards;
  animation: fadeIn 0.1s linear forwards;
  opacity: 0;
  visibility: hidden;
}

.fadeInSlow {
  -webkit-animation: fadeIn 0.4s linear forwards;
  animation: fadeIn 0.4s linear forwards;
  opacity: 0;
  visibility: hidden;
}

.spinning {
  animation: spin 0.5s infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.fadeOut {
  -webkit-animation: fadeOut 0.2s linear forwards;
  animation: fadeOut 0.2s linear forwards;
  opacity: 1;
  visibility: visible;
}

.fadeOutFast {
  -webkit-animation: fadeOut 0.1s linear forwards;
  animation: fadeOut 0.1s linear forwards;
  opacity: 1;
  visibility: visible;
}

.fadeOutSlow {
  -webkit-animation: fadeOut 0.4s linear forwards;
  animation: fadeOut 0.4s linear forwards;
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.visHidden {
  visibility: hidden;
}
