.overflowScroll {
  overflow: auto;
  overflow-x: hidden;
}

.overflowHidden {
  overflow: hidden;
}

.invisible {
  opacity: 0;
}

.absoluteCentered {
  position: absolute;
  left: 50%;
  margin-left: -150px;
}
